.experience{
    display: flex;
    margin-bottom: 120px;
    margin-top: 22px;
    justify-content: space-between;
    align-items: flex-endmsin;
}
.experience__wrapper{
    margin-right: 76px;
}
.experience__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 73px;
}
.experience__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 50px;
}
.experience__grid-item{

}
.experience__grid-item__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
}
.experience__grid-item__subtitle{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #828282;
}
.experience__photos{
 display: flex;
}
.experience__img1{
    margin-right: 42px;
    background-image: url(../../images/experience1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.experience__img2{
    align-self: flex-end;
    background-image: url(../../images/experience2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 610px;
    width: 368px;
}
.experience__title_375{
    display: none;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .experience{
        margin-bottom: 100px;
        margin-top: 31px;
        align-items: flex-end;
    }
    .experience__img1{
        margin-right: 30px;
        background-image: url(../../images/experience11200.png);
        width: 270px;
        height: 517px;
    }
    .experience__img2{
        background-image: url(../../images/experience21200.png);
        height: 447px;
        width: 270px;
    }
    .experience__grid{
        align-self: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 0;
    }
    .experience__wrapper{
        margin-right: 30px;
    }
  }

  @media (min-width: 375px) and (max-width: 787px) {
    .experience{
        margin-bottom: 70px;
        margin-top: 70px;
        align-items: flex-end;
        flex-direction: column-reverse;
    }
    .experience__img1{
        margin: 0;
        margin-left: 8px;
        background-image: url(../../images/experience1375.png);
        width: 168px;
        height: 321px;
    }
    .experience__img2{
        background-image: url(../../images/experience2375.png);
        height: 278px;
        width: 168px;
    }
    .experience__grid{
        align-self: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 8px;
    }
    .experience__wrapper{
        margin: 0;
    }
    .experience__title{
        display: none;
    }
    .experience__title_375{
        margin: 0;
        display: block;
        align-self: flex-start;
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 31px;
    }
    .experience__photos{
        flex-direction: row-reverse;
    }
    .experience__grid-item__title{
        font-size: 19px;
        line-height: 29px;
    }
    .experience__grid-item__subtitle{
        font-size: 14px;
        line-height: 20px;
    }
  }

