.lead{
    margin-top: 100px;
}
.lead__container-item{
    display: flex;
}

.lead__textarea{
    margin: 0;
    margin-top: 157px;
    max-width: 792px;
    margin-right: 28px;
}

.lead__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 130%;
    margin: 0;
}

.lead__subtitle{
    text-align: left;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    max-width: 646px;
    margin: 20px 0 0 0 ;
}

.lead__link-wrapper{
    margin-top: 50px;
    display: flex;
}

.lead__link-connect{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding: 22px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 30px;
    border: 1px solid #000;
    transition: 1s linear;
}

.lead__link-video{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    text-decoration: none;
    padding: 22px 39px ;
    border: 1px solid #000;
    border-radius: 5px;
    transition: 1s linear;
}

.lead__link-icon{
    margin-right: 15px;
}

.lead__images{
    height: 757px;
    width: 780px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.lead__images-marina{  
    background-image: url('../../images/lead__marina.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-self: flex-start;
    width: 600px;
    height: 702px;
}

.lead__images-flower{
    background-image: url('../../images/lead__flower.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    align-self: flex-end;
    left: 0;
    width: 370px;
    height: 500px;
}

.lead__link-connect:hover{
    color: #000;
    text-decoration: none;
    background: #fff;
    border: 1px solid #000;
}

.lead__btn-wrapper{
    margin: 0;
    margin-top: 100px;
}

.lead__btn{
    margin: 0;
    margin-right: 40px;
    transition: opacity 2s;
}
.lead__btn:hover{
    opacity: 0.5;
}

.lead .lead__container-item {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (min-width: 1200px) and (max-width: 1900px) {
    .lead{
        margin-top: 80px;
    }
    .lead__textarea{
        margin: 0;
        margin-top: 180px;
        max-width: 570px;
        margin-right: 30px;
    }
    .lead__title{
        font-size: 48px;
        line-height: 62px;
    }
    .lead__images-marina{  
        background-image: url('../../images/lead__marina1200.png');
        width: 470px;
        height: 702px;
    }
    
    .lead__images-flower{
        background-image: url('../../images/lead__flower1200.png');
        width: 370px;
        height: 500px;
    }
    .lead__link-wrapper{
        margin-top: 30px;
        display: flex;
    }
    .lead__link-connect{
        line-height: 27px;
        padding: 17px 30px;
    }
    
    .lead__link-video{
        font-size: 16px;
        line-height: 32px;
        padding: 17px 30px ;
    }
    .lead__btn-wrapper{
        margin: 0;
        margin-top: 82px;
    }
  }

  @media (min-width: 374px) and (max-width: 787px) {
    .lead{
        margin-top: 80px;
    }
    .lead__images-marina{  
        background-image: url('../../images/lead__marina375.png');
        width: 226px;
        height: 310px;
    }
    
    .lead__images-flower{
        background-image: url('../../images/lead__flower375.png');
        width: 168px;
        height: 250px;
    }
    .lead__container-item{
        flex-direction: column-reverse;
    }
    .lead__textarea{
        margin: 0;
        margin-top: 30px;
        max-width: 343px;
        margin-right: 0;
    }
    .lead__images{
        height: 366px;
        width: 343px;
    }
    .lead__title{
        font-size: 24px;
        line-height: 36px;
    }
    .lead__subtitle{
        font-size: 14px;
        line-height: 25px;
        margin: 10px 0 0 0;

    }
    .lead__link-wrapper{
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
        max-width: 343px;
    }
    .lead__link-connect{
        font-size: 14px;
        line-height: 25px;
        padding: 18px 0;
        margin: 0;
        margin-bottom: 15px;
    }
    
    .lead__link-video{
        font-size: 14px;
        line-height: 25px;
        padding:18px 0 ;
    }
    .lead__btn-wrapper{
        margin: 0;
        display: none;
    }
  }
