.form-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 0;
    border-radius: 5px;
    z-index: 20;
}

.contact-form {
    box-sizing: border-box;
    width: 100%;
    max-width: 420px;
    background: #fff;
    border-radius: 20px;
    margin: 35px 40px;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.contact-form__title {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: calc(100% + 40px);
    color: #000;
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
}

.contact-form__subtitle {
    margin: 0;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    color: #828282;
    margin-bottom: 20px
}

.contact-form__description {

}

.contact-form__input-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-form__input {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #828282;
    background: #fff;
    border-radius: 5px;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
}

.contact-form__text {
    height: 110px;

}

.contact-form__file {
    padding: 12px 15px;
}

.contact-form__error {
    font-size: 14px;
    width: 100%;
}

.contact-form__button {
    background-color: #000;
    width: 100%;
    max-width: 420px;
    margin: 0;
    border-radius: 5px;
    height: 60px;
    color: #fff;
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    transition: .3s;
    padding: 2px 0 0 0;
}

.contact-form__button:hover {
    transition: .3s;
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.button__disable{
    background-color: #828282;
}
.contact-form__close-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    align-self: flex-end;
}

@media (min-width: 374px) and (max-width: 787px) {
    .form-wrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 356px;
        margin: 0 auto;
        background: #fff;
        padding: 0;
        border-radius: 5px;
        z-index: 20;
    }
    
    .contact-form {
        box-sizing: border-box;
        width: 100%;
        max-width: 320px;
        background: #fff;
        border-radius: 20px;
        margin: 30px auto;
        z-index: 20;
    }
    .contact-form__subtitle {
        margin: 0;
        font-family: 'Iowan Old Style';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        color: #828282;
        margin-bottom: 20px
    }
    .contact-form__input {
        width: 100%;
        height: 50px;
        padding: 0 15px;
        box-sizing: border-box;
        border: 1px solid #828282;
        background: #fff;
        border-radius: 5px;
        font-family: 'Iowan Old Style';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 180%;
    }
}
