.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    min-height: 100px;
    z-index: 50;
    top: 0;
    left:0;
    font-family: 'Trajan Pro 3';
    width: 100%;
  }
  
  .header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #fff;
  }
  .header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__text{
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
  }
  
  .header__menu{
  
  }
  
  
  .header__list{
    display: flex;
    z-index: 5;
    position: relative;
    list-style: none;
    font-size: 16px;
    margin: 0;
  }
  .logo{
    z-index: 4; 
    margin-top: 10px;
  }
  
  ul{
    padding: 0;
  }
  .header__link{
        text-decoration: none;
        color: #000;
        margin: 0 0 0 25px;
        cursor: pointer;
        position: relative;
  }

  .header__link:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #000; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
  }
  .header__link:hover:after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #000; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
  }

  .header__link-connect{
    padding: 13px 27px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    transition: 1s linear;
  }

  .header__link-connect:hover{
    background-color: #fff;
    color: #000;
  }

  .header__burger{
    display: none;
  }

  @media (min-width: 1200px) and (max-width: 1900px) {
    .header{
      min-height: 80px;
    }
    .header__list{
      font-size: 14px;
    }
    .header__link{
      margin: 0 0 0 15px;
    }
    .logo img{
      width: 220px;
      height: 43px;
    }
    .header__link-connect{
      padding: 12px 17px;
      margin-left: 20px;
    }
  }

  @media (min-width: 374px) and (max-width: 789px) {

    .logo img{
      width: 220px;
      height: 43px;
    }

    .header{
      min-height: 80px;
    }


    .header__burger{
      display: block;
      position: relative;
      height: 20px;
      min-width: 30px;
      position: relative;
      z-index: 5;
    }
    .header__burger span{
      position: absolute;
      background-color: #000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top:10px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .header__burger::before,
    .header__burger::after{
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in-out 0s;
    }
    .header__burger::before{
      top: 0;
    }
    .header__burger::after{
      bottom: -4px;
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top:11px;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 7px;
    }
    .header__burger.active span{
      transform: scale(0);
    }
    .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 150px 0 0 0;
      transition: all 0.3s ease 0s;
    }
    .header__menu.active{
      top: 0;
    }
    .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 150px 0 0 0;
      transition: all 0.3s ease 0s;
    }
    .header__menu.active{
      top: 0;
      height: 350px;
    }
    .header__list{
      flex-direction: column;
    }
    .header__list li{
      margin-bottom: 20px;
    }
    .header__link-connect{
      padding: 12px 17px;
      margin-left: 15px;
    }
    .header__menu{
      padding: 120px 0 0 0;
    }
  }