.header{
    min-width: 288px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: calc(100% - 320px);
    min-height: 100px;
    z-index: 50;
    top: 0;
    left:0;
    font-family: 'Trajan Pro 3';
  }
  
  .header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .header__body{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__text{
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
  }
  @media (max-width:891px){
    .header__body{
  
    }
  }
  
  .header__burger{
    display: none;
  }
  @media (max-width:891px) {
  
    .header__burger{
      display: block;
      position: relative;
      height: 20px;
      min-width: 30px;
      position: relative;
      z-index: 5;
    }
  
    .header__burger span{
      position: absolute;
      background-color:#000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      top:10px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .header__burger::before,
    .header__burger::after{
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      transition: all 0.3s ease-in-out 0s;
    }
    .header__burger::before{
      top: 0;
    }
    .header__burger::after{
      bottom: -4px;
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top:9px;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 7px;
    }
    .header__burger.active span{
      transform: scale(0);
    }
  }
  
  .header__menu{
  
  }
  
  @media (max-width:891px) {
    .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: #9C696B;
      padding: 150px 0 0 0;
      transition: all 0.3s ease 0s;
    }
    .header__menu.active{
      top: 0;
    }
  }
  
  .header__list{
    display: flex;
    z-index: 5;
    position: relative;
    list-style: none;
    font-size: 16px;
  }
  
  
  ul{
    padding: 0;
  }
  .header__link{
        text-decoration: none;
        color: #000;
        margin: 0 0 0 25px;
      
  }

  .header__link-connect{
    padding: 13px 27px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    transition: 1s linear;
  }

  .header__link-connect:hover{
    background-color: #fff;
    color: #000;
  }
  @media (max-width:1441px) {
    .header{
      width: calc(100% - 220px);
    }
      
    .header__list{
      font-size: 12px;
    }
    .header__link{
      margin: 0 0 0 18px;

}
    .header__link-connect{
      padding: 10px 15px;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      margin-left: 20px;
    }
    .logo img{
      max-width: 258px;
      max-height:50px ;
    }
  }

  @media (max-width:1367px) {
    .header{
      width: calc(100% - 200px);
    }
      
    .header__list{
      font-size: 12px;
    }
    .header__link{
      margin: 0 0 0 14px;

}
    .header__link-connect{
      padding: 10px 15px;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      margin-left: 16px;
    }
    .logo img{
      max-width: 238px;
      max-height:45px ;
    }
  }
  @media only screen and (min-width: 1023px) and (max-width: 1181px){
    .header{
      width: calc(100% - 180px);
      min-height: 100px;
    }
      
    .header__list{
      font-size: 9px;
    }
    .header__link{
      margin: 0 0 0 10px;

}
    .header__link-connect{
      padding: 5px;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      margin-left: 5px;
    }
    .logo img{
      max-width: 180px;
      max-height:40px ;
    }
  }

  @media only screen and (min-width: 1181px) and (max-width: 1280px){
    .header{
      width: calc(100% - 160px);
      min-height: 80px;
    }
      
    .header__list{
      font-size: 11px;
    }
    .header__link{
      margin: 0 0 0 10px;

}
    .header__link-connect{
      padding: 10px 10px;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      margin-left: 10px;
    }
    .logo img{
      max-width: 280px;
      max-height:60px ;
    }
  }
  