.totop{
    max-width:20px;
    max-height: 20px;
    padding:5px;
    position:fixed;
    bottom:100px; /* отступ кнопки от нижнего края страницы*/
    right:80px;
    cursor:pointer;
    display:none;
    opacity: 0.6;
    z-index: 10;
}

.totop img{
    width: 70px;
    height: 70px;
}

@media (min-width: 374px) and (max-width: 787px) {
    .totop{
        right: 40px;
        bottom: 40px;
    }
    .totop img{
        width: 50px;
        height: 50px;
    }
}