.education{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.education__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 50px;
}

.education__list{
    display: flex;
    margin: 0;
}
.education__item{
    list-style: none;
    margin: 0;
    margin-right: 40px;
    min-width: 370px;
    border-radius: 5px;
}
.education__item__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 10px;
}
.education__item__subtitle{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    margin: 0;
}
.education__link{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    padding: 21px 39px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    color: #000;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 47px;
    background-color: transparent;
    transition: 1s linear;
}

.hide{
    display: none;
}

.education__list_hide{
    display: flex;
}

.education__link:hover{
    color: #fff;
    background-color: #000;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .education{
        margin-bottom: 100px;
    }
    .education__title{
        font-size: 48px;
        line-height: 62px;
    }
    .education__item{
        margin-right: 30px;
        min-width: 270px;
    }
    .education__link{
        padding: 17px 30px;
    }
  }

  @media (min-width: 375px) and (max-width: 787px) {
    .education{
        margin-bottom: 70px;
    }
    .education__title{
        font-size: 24px;
        line-height: 31px;
    }
    .education__item{
        margin: 0;
        min-width: 343px;
        margin-bottom: 40px;
    }
    .education__item__title{
        font-size: 19px;
        line-height: 28px;
        margin: 0;
        margin-bottom: 10px;
    }
    .education__item__subtitle{
        font-size: 14px;
        line-height: 25px;
    }
    .education__link{
        padding: 17px 0;
        margin: 0;
    }
    .education__list{
        flex-direction: column;
    }
    .education__list_hide{
        flex-direction: column;
    }
  }