.events{
    margin:0 auto;
    background: rgba(0, 0, 0, 0.03);
}

.events__container{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 120px;
    display:flex;
    flex-direction: column;
}

.events__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 62px;
    margin: 0;
}

.events__grid{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.events__grid-item{
    width: 100%;
}


.events__grid-item__img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.events__grid-item__subtitle{
    margin: 30px 20px 0 0 ;
    color: #828282;
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.events__btn{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 22px 39px;
    border: 1px solid #000;
    border-radius: 5px;
    align-self: center;
    background-color: transparent;
    transition: 1s linear;
}
.events__btn:hover{
    color: #fff;
    background-color: #000;
}
.events__grid_hide{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.events__grid-item_hide:nth-child(-n+2){
    display: none;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .events{
        margin-top: 100px;
    }
    .events__container{
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 95px;
    }
    .events__title{
        font-size: 36px;
        line-height: 62px;
        margin: 0;
    }
    .events__grid{
        margin-bottom: 0;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 0;
    }
    .events__grid_hide{
        margin: 0;
    }
    .events__grid-item__img{
        width: 270px;
        height: 300px;
    }
    .events__grid-item{
       margin-bottom: 50px;
    }
    .events__btn{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .events__grid-item__subtitle{
        font-size: 14px;
        line-height: 15px;
    }
    .events__grid-item:nth-last-child(-n+2){
        display: none;
    }
    .events__grid-item_hide:nth-child(-n+2){
        display: block;
    }
    
  }

  @media (min-width: 374px) and (max-width: 787px) {
    .events{
        margin:0;
    }
    .events__container{
        max-width: 343px;
        margin: 0 auto;
        padding-top: 60px;
    }
    .events__title{
        font-size: 24px;
        line-height: 36px;
        margin: 0;
    }
    .events__grid{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 8px;
    }
    
    .events__grid-item{
        width: 100%;
    }
    .events__grid-item:nth-last-child(-n+2){
        display: none;
    }
    .events__grid-item_hide:nth-child(-n+2){
        display: block;
    }
    
    
    .events__grid-item__img{
        width: 168px;
        height: 187px;
    }
    .events__grid-item__subtitle{
        margin: 15px 8px 0 0 ;
        font-size: 10px;
        line-height: 15px;
    }
    .events__btn{
        line-height: 27px;
        margin-bottom: 60px;
        padding: 16px 0;
        width: 100%;
    }
    .events__grid_hide{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }