.media{
    margin-bottom: 120px;
}
.media__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 73px;
}
.media__img{
    grid-area:main;
    border-radius: 5px;
    margin-right: 40px;
}
.media__wrapper{
    display: flex;

}
.media__grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 40px; 
    grid-template-areas: 
      "main main . ."
      "main main . ."; 
}
.media__grid-img{
    border-radius: 5px;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .media{
        margin-bottom: 100px;
    }
    .media__title{
        font-size: 36px;
        line-height: 62px;
    }
    .media__img{
        grid-area:main;
        border-radius: 5px;
        margin-right: 0;
        width: 566px;
    }
    .media__grid-img{
        border-radius: 5px;
        width: 270px;
    }
    .media__grid{
        gap:30px; 
    }
  }

  @media (min-width: 374px) and (max-width: 878px) {
    .media{
        margin-bottom: 70px;
    }
    .media__title{
        font-size: 24px;
        line-height: 36px;
    }
    .media__img{
        grid-area:main;
        border-radius: 5px;
        margin-right: 0;
        width: 343px;
        height: 366px;
        object-fit: cover;
    }
    .media__grid-img{
        border-radius: 5px;
        width: 168px;
        height: 180px;
        object-fit: cover;
    }
    .media__grid{
        display: grid; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 8px; 
        grid-template-areas: 
          "main main"
          "main main"
          ". ."
          ". ."; 
    }
  }