.media{
    width: calc(100% - 320px);
    margin: 0 auto;
    margin-bottom: 120px;
}
.media__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 73px;
}
.media__img{
    grid-area:main;
    border-radius: 5px;
    margin-right: 40px;
}
.media__wrapper{
    display: flex;

}
.media__grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 40px; 
    grid-template-areas: 
      "main main . ."
      "main main . ."; 
}
.media__grid-img{
    border-radius: 5px;
}