.about-me{
    margin: 0 auto;
    margin-top: 91px;
    display: flex;
}
.about-me__img{
    background-image: url('../../images/about-me__marina.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 780px;
    height: 600px;
}
.about-me__textarea{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
}
.about-me__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 73px;
    margin: 0;
    margin-bottom: 20px;
}
.about-me__subtitle{

    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #828282;
    margin: 0;
    margin-bottom: 60px;
    max-width: 582px;
}
.about-me__profession{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 20px;
}
.about-me__profession:last-child{
    margin-bottom: 40px;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .about-me{
        margin: 0 auto;
        margin-top: 72px;
        display: flex;
    }
    .about-me__img{
        background-image: url('../../images/about-me__marina1200.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 570px;
        min-height: 628px;
    }
    .about-me__textarea{
        margin-left: 30px;
    }
    .about-me__title{
        font-size: 36px;
        line-height: 62px;
    }
    .about-me__subtitle{
        margin-bottom: 50px;
        width: 582px;
    }
  }

  @media (min-width: 374px) and (max-width: 787px) {
    .about-me{
        flex-direction: column;
        margin-top: 60px;
    }
    .about-me__img{
        background-image: url('../../images/about-me__marina375.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 343px;
        height: 350px;
    }
    .about-me__title{
        margin-top: 30px;
        font-size: 24px;
        line-height: 36px;
    }
    .about-me__subtitle{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
        max-width: 343px;
    }
    .about-me__textarea{
        margin: 0;
    }
    .about-me__profession{
        font-size: 19px;
        line-height: 29px;
    }
  }