.container{
    width: 1600px;
    margin: 0 auto;
    min-width: 288px;
  }

  @media (min-width: 1200px) and (max-width: 1900px) {
    .container{
      width: 1170px;

    }
  }
  @media (min-width: 374px) and (max-width: 787px) {
    .container{
      width: 343px;

    }
  }