.footer{
    background-color: #000;
    display: flex;
    min-height: 675px;
    align-items: center;
}
.footer__container{
    width: calc(100% - 320px);
    margin: 0 auto;
}
.footer__wrapper{
    margin-top: 98px;
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between ;
}
.footer__wrapper_text{
    margin-top: 80px;
    display: flex;
}
.footer__list{
    margin: 0;
    margin-right: 40px;
    min-width: 370px;
}
.footer__list-item{
    margin-bottom: 20px;
}
.footer__link{
    color: #fff;
    text-decoration: none;
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.footer__info{

}
.footer__text{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    max-width: 470px;
}
.footer__logo{
}
.footer__infographic{
    right: 0;
    position: absolute;
    align-self: flex-end;
}

@media (max-width:1441px){
    .footer{
        background-color: #000;
        display: flex;
        min-height: 575px;
        align-items: center;
    }
    .footer__container{
        width: calc(100% - 220px);
        margin: 0 auto;
    }
    .footer__wrapper{
        margin-top: 58px;
        margin-bottom: 36px;
        display: flex;
        justify-content: space-between ;
    }
    .footer__wrapper_text{
        margin-top: 40px;
        display: flex;
    }
    .footer__list{
        margin: 0;
        margin-right: 40px;
        min-width: 300px;
    }
    .footer__list-item{
        margin-bottom: 20px;
    }
    .footer__link{
        color: #fff;
        text-decoration: none;
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }
    .footer__info{
    
    }
    .footer__text{
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
        color: #fff;
        max-width: 470px;
    }
    .footer__logo{
        max-width: 258px;
        max-height:50px ;
    }
    .footer__infographic{
        width: 550px;
        height: 550px;
        right: 0;
        position: absolute;
        align-self: flex-end;
    }
}


@media (max-width:1367px){
    .footer{
        background-color: #000;
        display: flex;
        min-height: 525px;
        align-items: center;
    }
    .footer__container{
        width: calc(100% - 200px);
        margin: 0 auto;
    }
    .footer__wrapper{
        margin-top: 42px;
        margin-bottom: 36px;
        display: flex;
        justify-content: space-between ;
    }
    .footer__wrapper_text{
        margin-top: 30px;
        display: flex;
    }
    .footer__list{
        margin: 0;
        margin-right: 30px;
        min-width: 250px;
    }
    .footer__list-item{
        margin-bottom: 20px;
    }
    .footer__link{
        color: #fff;
        text-decoration: none;
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }
    .footer__info{
    
    }
    .footer__text{
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 27px;
        color: #fff;
        max-width: 470px;
    }
    .footer__logo{
        max-width: 258px;
        max-height:50px ;
    }
    .footer__infographic{
        width: 550px;
        height: 550px;
        right: 0;
        position: absolute;
        align-self: flex-end;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1181px){
    .footer{
        background-color: #000;
        display: flex;
        min-height: 425px;
        align-items: center;
    }
    .footer__container{
        width: calc(100% - 160px);
        margin: 0 auto;
    }
    .footer__wrapper{
        margin-top: 42px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between ;
    }
    .footer__wrapper_text{
        margin-top: 20px;
        display: flex;
    }
    .footer__list{
        margin: 0;
        margin-right: 20px;
        min-width: 200px;
    }
    .footer__list-item{
        margin-bottom: 10px;
    }
    .footer__link{
        color: #fff;
        text-decoration: none;
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
    .footer__info{
    
    }
    .footer__text{
        font-family: 'Trajan Pro 3';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        max-width: 470px;
    }
    .footer__logo{
            max-width: 180px;
            max-height:40px ;

    }
    .footer__infographic{
        width: 450px;
        height: 450px;
        right: 0;
        position: absolute;
        align-self: flex-end;
    }
}