.news{
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.news__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 62px;
    margin: 0;
}
.news__list{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.news__item{
    display: flex;
}

.news__item-img{
    margin-right: 40px;

}

.news__item-textarea{
    margin: 0;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__next{
    position: absolute;
    align-self: self-end;
    margin: 0 0 0 75px;
}
.news__prev{
    position: absolute;
    left: 115px;
}

.news__item-title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    max-width: 370px;
    min-height: 163px;
    margin: 0;
    margin-bottom: 20px;
}

.news__item-subtitle{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    max-width: 370px;
    min-height: 160px;
    margin: 0;
    margin-bottom: 30px;
}

.news__item-date{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    margin: 0;
}

@media (min-width: 1200px) and (max-width: 1900px) {
    .news{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .news__title{
        font-size: 48px;
        line-height: 62px;
    }
    .news__item-img{
        margin-right: 30px;
    
    }
    .news__item:last-child{
        display: none;
    }
    .news__item-title{
        line-height: 40px;
        max-width: 370px;
        min-height: 149px;
    }
    .news__item-subtitle{
        font-size: 18px;
        line-height: 32px;
        max-width: 370px;
        min-height: 150px;
    }
    
  }

  @media (min-width: 374px) and (max-width: 787px) {
    .news{
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .news__title{
        font-size: 24px;
        line-height: 36px;
    }
    .news__item-img{
        width: 343px;
        height: 300px;
        object-fit: cover;
        object-position: top;
    }
    #news_item-2{
        display: none;
    }
    #news_item-3{
        display: none;
    }
    .news__item-title{
        font-size: 24px;
        line-height: 36px;
        max-width: 343px;
        min-height: 144px;
        margin: 0;
        margin-top: 30px;
    }
    .news__item-subtitle{
        font-size: 14px;
        line-height: 25px;
        max-width: 343px;
        min-height: 144px;
        margin: 0;
        margin-top: 10px;
    }
    .news__item{
        flex-direction: column;
        max-width: 343px;
    }
    .news__item-textarea{
        margin: 0;
    }
    .news__item-date{
        display: none;
    }
    .news__next{
        position: absolute;
        align-self: self-end;
        margin: 0;
        padding: 0 0 340px 0;
        width: 40px;
    }
    .news__prev{
        display: none;
    }
  }

