.news{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.news__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 62px;
    margin: 0;
    margin-bottom: 30px;
}
.news__list{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.news__item{
    display: flex;
}

.news__item-img{
    margin-right: 40px;
    max-width: 370px;
}

.news__item-textarea{
    margin: 0;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__next{
    position: absolute;
    right: -6%;
    top: 40%;
    border-radius: 50%;
}
.news__prev{
    position: absolute;
    left: -6%;
    top: 40%;
}

.news__item-title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    max-width: 370px;
    min-height: 163px;
    margin: 0;
    margin-bottom: 20px;
}

.news__item-subtitle{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #828282;
    max-width: 370px;
    min-height: 160px;
    margin: 0;
    margin-bottom: 30px;
}

.news__item-date{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    margin: 0;
}

.news__next:hover{
    box-shadow: 0px 0px 20px #000;
    animation: btn-fade;
    animation-duration: 1s;
}
@keyframes btn-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.news__list{
    animation: fadeInLeft;
    animation-duration: 1s;
}

    @keyframes fadeInLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    } 


@media (min-width: 1200px) and (max-width: 1900px) {
    .news{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .news__title{
        font-size: 36px;
        line-height: 62px;
    }
    .news__item-img{
        margin-right: 30px;
        max-width: 268px;
        max-height: 371px;
    }
    .news__item-title{
        font-size: 18px;
        line-height: 26px;
        max-width: 370px;
        min-height: 149px;
    }
    .news__item-subtitle{
        font-size: 14px;
        line-height: 24px;
        max-width: 370px;
        min-height: 150px;
    }
    .news__item-date{
        font-size: 14px;
    }
    
  }

  @media (min-width: 374px) and (max-width: 787px) {
    .news{
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .news__title{
        font-size: 24px;
        line-height: 36px;
    }
    .news__item-img{
        width: 343px;
        height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
    }
    #news_item-2{
        display: none;
    }
    #news_item-3{
        display: none;
    }
    .news__item-title{
        font-size: 24px;
        line-height: 36px;
        max-width: 343px;
        min-height: 144px;
        margin: 0;
        margin-top: 30px;
    }
    .news__item-subtitle{
        font-size: 14px;
        line-height: 25px;
        max-width: 343px;
        min-height: 144px;
        margin: 0;
        margin-top: 10px;
    }
    .news__item{
        flex-direction: column;
        max-width: 343px;
    }
    .news__item-textarea{
        margin: 0;
    }
    .news__item-date{
        display: none;
    }
    .news__next{
        position: absolute;
        align-self: self-end;
        margin: 0;
        width: 40px;
        top: 38%;
        right: -2%;
    }
    .news__prev{
        display: none;
    }
  }

