.news{
    width: calc(100% - 320px);
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.news__title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 130%;
    margin: 0;
}
.news__list{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.news__item{
    display: flex;
}

.news__item-img{
    margin-right: 40px;

}

.news__item-textarea{
    margin: 0;
    margin-right: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.active{
    display: flex;
}

.news__next{
    position: absolute;
    align-self: self-end;
    margin: 0 0 0 75px;
}
.news__prev{
    position: absolute;
    left: 115px;
}

.prev_active{

}

.news__item-title{
    font-family: 'Trajan Pro 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    max-width: 370px;
    min-height: 163px;
    margin: 0;
    margin-bottom: 20px;
}

.news__item-subtitle{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    max-width: 370px;
    min-height: 160px;
    margin: 0;
    margin-bottom: 30px;
}

.news__item-date{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
    margin: 0;
}
